#Libs
*.o
*.a
*.so

#Vscode
.vscode
.idea
.clang-format

#Documentation
docs/html
docs/latex

#Settings
*.env

#Generated
__pycache__/

#QGIS
*.shp
*.shx
*.svg
*.sw?
*.yaml
*.zip

#Others
*.kmz
*.mbtiles
*.pb.cc
*.pb.h
*.png
*.prj
*.pyc
*~
bin/
*.d
*.dbf
doc/

